<article class="no-image must-read-article">
  <a class="post-card-content-link" href="{{url}}">
    <h3 class="must-read-card-title">{{title}}</h3>
  </a>
  <p class="must-read-card-byline-date"><time
      datetime="{{date published_at format="YYYY-MM-DD"}}"
    >{{date published_at format="D MMM YYYY"}}</time>
    –
    {{reading_time}}</p>
</article>