<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <script src="{{asset "assets/js/lib/ghost-finder/ghost-finder.js"}}"></script>

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

<div class="site-wrapper">
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- The footer at the very bottom of the screen --}}
    <footer class="site-footer outer">
        <div class="site-footer-content inner">
            <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
            <nav class="site-footer-nav">
                <a href="{{@site.url}}">Latest Posts</a>
                {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
                {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
            </nav>
        </div>
    </footer>

</div>


{{!-- jQuery, required for fitvids --}}
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
{{!-- Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support --}}
<script src="{{asset "built/casper.js"}}"></script>

{{!-- Scripts for Members subscription --}}
<script>
    // Parse the URL parameter
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    // Give the parameter a variable name
    var action = getParameterByName('action');

    $(document).ready(function () {
        if (action == 'subscribe') {
            $('body').addClass("subscribe-success");
        }

        $('.subscribe-success-message .subscribe-close').click(function () {
            $('.subscribe-success-message').addClass('close');
        });

        // Reset form on opening subscrion overlay
        $('.subscribe-button').click(function() {
            $('.subscribe-overlay form').removeClass();
            $('.subscribe-email').val('');
        });


        // maybe put this in partials?
        const resultTemplate =
                `<ul class="search-results-wrapper">
                <p class="result-count">##resultCount result(s) found for "##searchTerm"</p>
                ##results
            </ul>`;

        const singleResultTemplate =
                `<li class="search-result">
                    <div class="search-result-title">
                        <a href="##url">##title</a>
                    </div>
                    <div class="search-result-meta">
                        <span>Published: ##published_at • ##primary_author_name • ##primary_tag_name </span>
                    </div>
                </li>`;


        // TODO: MOVE contentApiKey to build step, for now follow https://github.com/electronthemes/ghost-finder/wiki/How-to-get-contentApiKey-%3F
        // if you need to get it running locally, otherwise it will run against production
        new GhostFinder({
            input: '#search-input',
            showResult: '#search-results',
            contentApiKey: 'bc288846ff6bf20b02b591425c',
            homeUrl: 'https://dailyco.ghost.io/blog',
            resultTemplate: resultTemplate,
            singleResultTemplate: singleResultTemplate,
            mark: true,
            markOptions: {
                "exclude": [".result-count", ".search-result-meta *"]
            }
        });

        // instantiate a second one for mobile since input and results are IDs
        new GhostFinder({
            input: '#search-input-mobile',
            showResult: '#search-results-mobile',
            contentApiKey: 'bc288846ff6bf20b02b591425c',
            homeUrl: 'https://dailyco.ghost.io/blog',
            resultTemplate: resultTemplate,
            singleResultTemplate: singleResultTemplate,
            mark: true,
            markOptions: {
                "exclude": [".result-count", ".search-result-meta *"]
            }
        });




        // hack svg icon into menu to avoid a bunch of custom css
        // TODO refactor to use custom partial https://ghost.org/docs/api/v3/handlebars-themes/helpers/navigation/
        $('.nav').append(`
                <li class="nav-search">
                    <a href="#">
                        {{> "icons/search"}}
                    </a>
                </li>
            `);

        window.onresize = () => {
            if (window.innerWidth > 940) {
                $('.nav-search').show();
            }
        }

        $('.nav-search ').click(function(e) {
            e.preventDefault();
            $('.inner > .site-search').toggle();
            $('#search-input').focus();
        });



        $('.site-nav-mobile > a ').click(function(e) {
            e.preventDefault();
            $('.site-nav-mobile-container').toggle();
            $('.site-nav-mobile-container > .site-search').toggle();
            $('#search-input-mobile').focus();
            $('.nav-search').hide();
        });
    });
</script>

{{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
{{{block "scripts"}}}

{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
